@import './base.scss';

.root-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.column-root-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
